<div class="jumbotron">
  <h1>Welcome To IndiJournal</h1>
  <p>In this website you are a journalist...!!! <br> You can write whatever you feel, that happening around you. <br> Keep Writing...!!</p>
</div>

